<?xml version="1.0"?>
<?xml version="1.0"?>
<launch>
    <!-- Define the world_name argument with a default value -->
    <arg name="world_name" default="stockpile.world"/>

    <!-- Include the Gazebo empty world launch file -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <!-- Use the world_name argument to set the world file -->
        <arg name="world_name" value="$(find atlascar2_gazebo)/worlds/$(arg world_name)"/>

        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include>
    
    <node name="interactive_pattern" pkg="atlascar2_gazebo" type="interactive_pattern" output="screen"/>
</launch>

