<?xml version="1.0"?>

<launch>
<node type="laser_scan_assembler" pkg="laser_assembler"
    name="my_assembler">
<remap from="scan" to="/left_laser/scan"/>
<param name="max_scans" type="int" value="20000" />
<param name="fixed_frame" type="string" value="odom" />
 </node>
  <node type ="laser2pc.py" pkg="laser_to_pcl" name="laser2pc"/>
</launch>
